:root {
  font-size: medium;
}
.container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.error {
  color: red;
}

.otp-input {
  width: 40px;
  height: 40px;
  margin: 8px;
}
