.progressbar {
  width: 100%;
  height: 32px;
  border-radius: 24px;
  background-color: grey;
  border: 1px solid black;
  display: flex;
  position: relative;
  overflow: hidden;
}

.progressbar span {
  position: absolute;
  width: 100%;
  height: 32px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.progressbar div {
  background-color: green;
  height: 100%;
}
