* {
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 80vw;
  flex: column;
  margin-bottom: 8px;

  border: 1px solid black;
  border-radius: 8px;
}

.header {
  width: 100%;
  padding: 8px;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.details {
  width: 100%;
  /* padding: 8px; */
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.35s ease-out;
}
.details-inner {
  padding: 8px;
}

.header[data-expanded="false"] {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.details[data-expanded="true"] {
  max-height: 500px;
}
