* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: flex-start;
  min-height: 500px;
  border: 1px solid black;
  padding: 8px;
  border-radius: 8px;
}

button {
  width: 100px;
  padding: 8px;
  border-radius: 8px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}
